*{
    box-sizing: border-box;
}

p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    min-height: 90vh;
    border: solid black 4px;
    padding: 5%;
    background-color: rgb(192, 192, 194);
    
}
.Lmain_box{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.header{
    display: flex;
    flex-direction: column;
    padding: 10%;
    text-align: center;
    font-size: 25px;
    color: white;
    border: solid black 1px;
    height: 30%;
    justify-content: center; /* align horizontal */
    align-items: center;
    background-color: tomato;
}

#newsReel{
    border: solid black 1px;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.info  {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: solid black 1px;
    height: 70%;
}

#counter{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    border: solid black 1px;
    background-color:yellow;
    color: black;

}

#counter #text #counterTop #counterBottom{
    align-items: center;    
    justify-content: center;
}

#other{
    height: 75%;
    width: 100%;
    border: solid black 1px;
    background-color:white;
    color: black;
}


.top_box{
    /*animation: pulse 1s infinite;*/
    display: flex;
    padding: 1%;
    border: solid black 1px;
    width: 40%;
    justify-content: center; /* align horizontal */
    align-items: center;
    background-color: blue;
}

/*@keyframes pulse {
    0% {
      background-color: rgb(29, 4, 143);
    }
    100% {
      background-color: rgb(7, 130, 179);
    }
  }
  */
#cookpersec{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}


.uprgades_box{
    width: 40%;
    border: solid black 1px;
    display: flex;
    
}

.half_box{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tools{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 50%;
    width: 100%;
    border: solid black 1px;
    background-color: yellow;
    
}

.distro{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 50%;
    width: 100%;
    border: solid black 1px;
    background-color: green;
    
}

.workers{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 50%;
    width: 100%;
    border: solid black 1px;
    background-color: red;
    
}

.ingredients{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 50%;
    width: 100%;
    border: solid black 1px;
    background-color: blue;
   
}

#amntTools{
    color: purple;
    border: solid  red 1px ;
}
#amntWorkers{
    color: purple;
    border: solid  red 1px ;
}
#amntDistro{
    color: purple;
    border: solid  red 1px ;
}
#amntIng{
    color: purple;
    border: solid  red 1px ;
}

button{
    background-color: grey;
    color:white;
}